name: terraform-deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Terraform environment folder under infra/envs/"
        required: true
        default: "dev"
      confirm_apply:
        description: "Type APPLY to confirm"
        required: true
        default: "NO"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    if: ${{ github.event.inputs.confirm_apply == 'APPLY' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: infra/envs/${{ github.event.inputs.environment }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform plan (saved)
        run: terraform plan -input=false -out=tfplan

      - name: Terraform apply
        run: terraform apply -input=false -auto-approve tfplan
