name: terraform-ci-cd

on:
  push:
    branches: ["main"]
    paths:
      - "infra/**"
      - ".github/workflows/**"
  pull_request:
    paths:
      - "infra/**"
      - ".github/workflows/**"

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: infra/envs/dev

    steps:
      # - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init

      - name: Terraform validate
        run: terraform validate

      - name: Install tflint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          tflint --init

      - name: tflint
        run: tflint

      # - name: Checkov
      #   uses: bridgecrewio/checkov-action@v12
      #   with:
      #     directory: infra/envs/dev
      #     quiet: true
      #     soft_fail: true
      #     output_format: cli

      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform plan
        run: terraform plan

      # - name: Terraform apply
      #   if: github.ref == 'refs/heads/main'
      #   run: terraform apply -auto-approve
