name: terraform-ci-cd

on:
  push:
    branches: ["main"]
    paths:
      - "infra/**"
      - ".github/workflows/**"
  pull_request:
    paths:
      - "infra/**"
      - ".github/workflows/**"

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Debug repo tree (confirm paths)
        run: |
          pwd
          ls -la
          ls -la infra || true
          ls -la infra/envs || true
          ls -la infra/envs/dev || true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt
        working-directory: infra/envs/dev
        run: terraform fmt -check -recursive

      - name: Terraform init
        working-directory: infra/envs/dev
        run: terraform init

      - name: Terraform validate
        working-directory: infra/envs/dev
        run: terraform validate

      - name: Install tflint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          tflint --init

      - name: tflint
        working-directory: infra/envs/dev
        run: tflint

      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform plan
        working-directory: infra/envs/dev
        run: terraform plan -no-color

      # - name: Terraform apply
      #   if: github.ref == 'refs/heads/main'
      #   run: terraform apply -auto-approve
